* {
  margin: 0;
}

.app{
  background-color: #FAFAFA;
}

.app__headerImage{
  object-fit: contain;
  max-width: 100px;
}

.app__header{
  object-fit: contain;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid lightgrey;
  align-items: center;
  justify-content: center;
}